<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Website kiểm tra trắc nghiệm nhanh</title>
  <link rel="icon" href="https://freepngimg.com/thumb/symbol/88546-area-text-symbol-icons-question-mark-computer.png"
    type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="lobby.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <div class="head__id">
      <h2 id="clientRoom">default</h2>
    </div>
    <div class="head__rank">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/trophy.svg" /> -->
      <h2 id="clientName">default</h2>
      <h3>Total Score : <span id="clientScore">default</span></h3>
    </div>

    <a class="btn" href="#open-modal">Join / Create</a>
    <div id="open-modal" class="modal-window">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn" onclick="join()">Join</button>
        <button type="button" class="toggle-btn" onclick="create()">Create</button>
      </div>
      <form id="create">
        <a href="#" title="Close" class="modal-close">Close</a>
        <h2>create Room</h2>
        <div class="input">
          <div class="inputBox">
            <label for="">ID</label>
            <input type="text" placeholder="Please input ur ID Room" />
          </div>
          <div class="inputBox">
            <input type="" value="Submit" onclick="handleCreateRoom()" />
          </div>
        </div>
      </form>

      <form id="join">
        <a href="#" title="Close" class="modal-close">Close</a>
        <h2>Join Room</h2>
        <div class="input">
          <div class="inputBox">
            <label for="">ID</label>
            <input type="text" id="clientJoinId" placeholder="Please input ur ID Room" />
            <!-- <label for="">Name</label>
              <input type="text" placeholder="What should we call you ? " /> -->
          </div>
          <div class="inputBox">
            <input type="" value="Submit" onclick="handleJoinRoom()" />
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="lobby__body" id="lobby__body">
    <!-- <div class="user">Lê Đức Nghị</div>
    <div class="user">Lee Quang Hoàng</div>
    <div class="user">Phạm Anh Tứng</div>
    <div class="user">Phùng Quốc Hùng</div>
    <div class="user">Lee Hoàng Bảo</div>
    <div class="user">Nguyễn Hải Ngọc Tố Nga</div>
    <div class="user">Lee Hoàng Bảo</div>
    <div class="user">Lee Hoàng Bảo</div>
    <div class="user">Lee Hoàng Bảo</div>
    <div class="user">Lee Hoàng Bảo</div>
    <div class="user">Phùng Quốc Hùng</div>
    <div class="user">Phùng Quốc Hùng</div>
    <div class="user">Phùng Quốc Hùng</div>
    <div class="user">Phùng Quốc Hùng</div>
    <div class="user">Phùng Quốc Hùng</div>
    <div class="user">Phùng Quốc Hùng</div>
    <div class="user">Phùng Quốc Hùng</div>
    <div class="user">Lee Hoàng Bảo</div> -->
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    if (!document.cookie) window.location.href = "http://localhost:8080/website-trac-nghiem/"
    const socket = io();
    socket.emit("fetch-info", document.cookie)
    socket.on("fetch-info-success", ({ userInfor }) => {
      $("#clientName").text(userInfor.name)
      $("#clientScore").text(userInfor.total_score)

      //save
      document.cookie = `id=${userInfor.id}`
      document.cookie = `name=${userInfor.name}`
      console.log(document.cookie);
    })

    var x = document.getElementById("join");
    var y = document.getElementById("create");
    var z = document.getElementById("btn");

    function create() {
      x.style.left = "-50%";
      y.style.left = "50%";
      z.style.left = "82px";

    }

    function join() {
      x.style.left = "50%";
      y.style.left = "-50%";
      z.style.left = "0px";
    }

    const handleCreateRoom = () => {
      socket.emit("create-room", (document.cookie))
      socket.on("create-room-success", ({ roomId }) => {
        document.getElementById("clientJoinId").value = roomId
      })
    }

    const handleJoinRoom = () => {
      var roomId = document.getElementById("clientJoinId").value
      if (!roomId && roomId === "") return alert("troll cc")

      let array = []
      let userCookie = {}
      let data = null

      array = document.cookie.split("; ")
      array.forEach((item) => {
        item = item.split("=")
        userCookie[item[0]] = item[1]
      })

      data = { id: userCookie.id, username: userCookie.username, name: userCookie.name, roomId }
      console.log(data);

      socket.emit("join-room", data)
    }

    socket.on("join-room-success", (listMember) => {
      console.log(listMember);

      resetOldListMember(listMember)
      showNewListMember(listMember)
    })

    socket.on("someone-leave-room", (listMember) => {
      resetOldListMember(listMember)
      showNewListMember(listMember)
    })

    const resetOldListMember = (listMember) => {
      const divListMember = document.getElementById("lobby__body");
      while (divListMember.lastElementChild) {
        divListMember.removeChild(divListMember.lastElementChild);
      }
    }

    const showNewListMember = (listMember) => {
      listMember.forEach((item) => {
        var html = document.createElement("div");
        html.classList.add("user")
        var text = document.createTextNode(item.name);
        html.appendChild(text);
        document.getElementById("lobby__body").appendChild(html);
      })
    }
  </script>

</body>

</html>