@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");
::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;

  background: #091921;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__lobby {
  position: relative;
  width: 100%;
}

.head {
  position: relative;
  margin: 5em 0;
  width: 100%;
  /* background: red; */
}

.container__lobby .head__id {
  position: relative;
  margin: 0 auto;
  width: 350px;
  height: 100px;
  background: #091921;
  color: #fff;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    15px 15px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container__lobby .head__rank::after {
  content: "\f2c0";
  position: absolute;
  top: 0.3em;
  left: 0.8em;
  font-family: fontAwesome;
  color: #fff;
  font-size: 30px;
}

/* RANK */
.container__lobby .head__rank {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  background: #091921;
  top: -2em;
  right: 5em;
  width: 280px;
  height: 170px;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    15px 15px 10px rgba(0, 0, 0, 0.1);
}

.container__lobby .head__rank .rank {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* TROPHY */
.container__lobby .head__rank img {
  position: absolute;
  top: 3.8em;
  left: 0.9em;
  width: 3.2em;
  height: 3.2em;
}

/* Username__RANK */
.container__lobby .head__rank h2 {
  white-space: nowrap;
  position: absolute;
  top: 1em;
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  z-index: 1;
}
.container__lobby .head__rank h3 {
  position: absolute;
  top: 7.5em;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  z-index: 1;
}

.btn {
  position: absolute;
  top: 1em;
  left: 4em;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #131419;
  padding: 1em 1.5em;
  border-radius: 2rem;
  text-decoration: none;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.btn:active {
  color: #006c9c;
  cursor: pointer;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.btn i {
  padding-right: 0.3em;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 95px;
  height: 100%;
  background: linear-gradient(to right, #46588c, #d46e75);
  border-radius: 30px;
  transition: 0.5s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  opacity:0;
  display: grid;
  place-items: center;
  transition: 0.2s all ease-in;
  visibility: hidden;
  z-index: -10;
}
.open-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition: 0.2s all ease-out;
}

.modal-container {
  opacity: 0;
  transition: 0.2s all ease-in;
  overflow: hidden;
}

.open-modal{
  opacity: 1;
  transition:  0.2s all ease-out;
}


.button-box {
  width: 195px;
  margin: 0px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #4a3b54;
  border-radius: 30px;
  z-index: 10;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.form {
  transition: transform 0.4s;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: 1rem;
  width: 350px;
  padding: 40px 40px 60px;
  background: #131419;
  text-align: center;
  overflow: hidden;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
}

.form h2 {
  color: #babecc;
  font-weight: 500;
  letter-spacing: 1px;
  /* margin: 100px 0 0 0; */
}

.form .input {
  text-align: left;
  margin: 50px 0 10px 0;
}

.form .input .inputBox input[type=text] {
  width: 100%;
  height: 50px;
  background: #131419;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  font-size: 18px;
  color: #03a9f4;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox .create{
  color: #03a9f4;
}

.form .input .inputBox input[type=button] {
  width: 100%;
  height: 50px;
  background: #131419;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input[type=button]:active {
  cursor: pointer;
  color: #006c9c;
  margin-top: 20px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input::placeholder {
  color: #555;
  font-size: 18px;
}

/* LOBBY */
.lobby__body {
  position: relative;
  margin: 7em 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.lobby__body .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
  border-radius: 1em;
  padding: 1em 1.5em;
  background: #091921;
  font-weight: 600;
  color: #fff;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    15px 15px 10px rgba(0, 0, 0, 0.1);
}

/*  */
.next__page {
  margin: 5em 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.07rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button-text a {
  text-decoration: none;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.action .menu .logout {
  position: relative;
  margin: 1em 2em -0.5em 0.5em;
  border: 4px solid lightgray;
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* padding: 10px 0 ; */
}
.action .menu .logout a {
  white-space: nowrap;
  position: absolute;
  top: 10px;
  left: 3.75em;
  z-index: 1;
  color: #111;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.action .menu .score_method::after,
.action .menu .mode::after,
.action .menu .leave__room button::after,
.action .menu .logout a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #111;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.action .menu .score_method:hover:after,
.action .menu .mode:hover:after,
.action .menu .leave__room button:hover:after,
.action .menu .logout a:hover:after {
  width: 100%;
  left: 0;
}

.action .menu .logout .doorway {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.action .menu .logout .doorway .door {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
  width: 100%;
  height: 100%;
  transform: perspective(900) rotateY(0deg);
  background: #091921;
  position: relative;
}
.action .menu .logout:hover .door {
  -webkit-transform: perspective(900) rotateY(45deg);
  transition: all 2s ease-in-out;
}

.action .menu .door span {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  background-color: lightgray;
  top: 15px;
  left: 20px;
}

.action .menu .leave__room {
  width: 60px;
  margin: 1.2em 3em 0 1.2em;
  position: relative;
}

.action .menu .leave__room button {
  border: none;
  outline: none;
  margin-left: 3em;
  white-space: nowrap;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.action .menu .leave__room::before {
  content: "\f08b";
  font-family: fontAwesome;
  font-size: 22px;
  position: absolute;
  left: 0em;
  color: #111;
}

.action {
  position: fixed;
  bottom: 2.3em;
  left: 45px;
}

.action .profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile i {
  font-size: 50px;
  color: #fff;
  transition: transform 0.8s ease-in-out;
}

.action .profile i:hover {
  transform: rotate(360deg);
}

.action .menu {
  position: absolute;
  bottom: 80px;
  left: -15px;
  padding: 30px 10px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.action:hover .menu {
  visibility: visible;
  opacity: 1;
}

.action .menu::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.score_method {
  position: absolute;
  top: 1em;
  left: 4.2em;
  padding: 1px 5px;
  color: #111;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
}


.modal .title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5em 0;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

.modal .content{
  font-size: 18px;
  font-weight: 600;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top:5em;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 65em;
  height: 500px;
  padding: 20px ;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 5;
}
.modal .luck{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5em 0;
  box-shadow: 15px 5px 15px rgba(0,0,0,0.1);
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
}
